.main1 h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #2563eb;
}

.main1 p {
  font-family: Verdana;
  color: #1e293b;
}

/*  */

.main2 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e63946;
}

.main2 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #a8dadc;
}

/*  */

.main3 h1 {
  font-family: "Times New Roman", Times, serif;
  color: #4a4a48;
}

.main3 p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #c1a87d;
}
